Source: psignifit3
Section: unknown
Priority: extra
Maintainer: Valentin Haenel <psignifit-users@lists.sourceforge.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/psignifit3.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/psignifit3.git;a=summary

Package: psignifit3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: psignifit3-doc
Architecture: all
Description: documentation for psignifit3
 <insert long description, indented with spaces>
